/* Declarando formato para todo el html e importando fuente personalizada */

@font-face {
    font-family: Oswald;
    src: url(Oswald-VariableFont_wght.ttf);
}

* {
    font-family: Oswald, Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
}

.logo{
    width:8rem;
    height: 8rem;
}

footer {
    position:absolute;
    bottom: 0.5rem;
    width: 100%;
    height:5rem;
    border: 3rem;  
    background-color: rgb(172, 202, 224);
    border-color: black; 
    text-align: center;   
    
}

.diviconos {
    display: inline;
}
.iconos{
    font-size: 2rem;
}